<div id="footer">
    <div class="container centered">
        <div class="row">
            <div class="col-lg-4">
                <p>
                    &copy; {{ "now"|date('Y') }} Mark Railton.
                </p>
            </div>

            <div class="col-lg-4">
                <p>
                    <a href="https://twitter.com/railto" target="_blank">Twitter</a>&nbsp;
                    <a href="https://ie.linkedin.com/in/markrailton" target="_blank">LinkedIn</a>
                </p>
            </div>

            <div class="col-lg-4">
                <p>Website built with love and SlimPHP</p>
            </div>
        </div>
    </div>
</div>