{% extends 'layout.twig' %}
{% block content %}
    <div class="col-md-8 col-md-offset-2 centered pt">
        <img id="index-image" src="/img/mark.jpg" alt="Mark Railton">
        <h1>Hi, I'm Mark!</h1>
        <p>
            I'm a full-stack web developer working primarily on the back-end using PHP. For my
            day job I'm a software developer for Endurance International Group working on a range of
            projects from maintaining and further developing our internal portal to leading large migrations
            of customer data from legacy billing systems into the commercial software that we use
            internally.
        </p>
        <p>
            In 2016 I obtained the Code Institute <a href="http://codeinstitute.net" target="_blank">Diploma
                in Software Development</a> from Edinburgh Napier University which focuses on full stack
            development using AngularJS on the front-end and Python by way of django and flask on the
            back-end.
        </p>
        <p>
            Outside of work I enjoy target archery and photography. When time permits I like to contribute to open
            source projects, namely <a href="http://joind.in" target="_blank">joind.in</a> as well as
            researching new technologies to try and stay ahead of the ever evolving world of web
            development, you may even see some of these newer technologies being used on this site as I get
            to grips with them.
        </p>

    </div>
{% endblock %}