{% extends'layout.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 centered">
                <h1>uh oh, that's an error, 404</h1>
                <p>Seems something has gone wrong and that page can't be found</p>
                <p>Don't worry, <a href="{{ path_for('home') }}">click here</a> to go back to the main page.</p>
            </div>
        </div>
    </div>
{% endblock %}