{% extends 'layout.twig' %}
{% block content %}
    <div class="container pt">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <bd>{{ post.published_at }}</bd>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content|markdown }}</p>
                <hr>
                <div id="disqus_thread"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footerjs %}
    {% include 'partials/disqus.twig' %}
{% endblock %}